<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{!-- {{#if devoured=false}}Devour!{{/if}} --}}
        {{#if devoured}}un-Devour{{else}}Devour{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
